$primary-black: #01080E;
$primary-blue: #011627;
$primary-dark-blue: #011221;

$secondary-gray: #607B96;
$secondary-green: #3C9D93;
$secondary-blue: #4D5BCE;
$secondary-white: #FFFFFF;

$accent-orange: #FEA55F;
$accent-green: #43D9AD;
$accent-salmon: #E99287;
$accent-pink: #C98BDF;

$line-color: #1E2D3D;

$btn-primary-hover: #FFAC6B;
$btn-default: #1C2B3A;
$btn-default-hover: #263B50;
