<footer>
  <p class="label-text">Siga também:</p>
  <nav>
    <ul>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/henrique-fernandez-bb3751212/" target="_blank">
          <img src="assets/icons/linkedin-icon.svg" alt="Linkedin ícone">
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/coding.rick/?theme=dark" target="_blank">
          <img src="assets/icons/instagram-icon.svg" alt="Instagram ícone">
        </a>
      </li>
      <li class="github nav-item">
        <a href="https://github.com/RickFernandez" target="_blank">
          <img src="assets/icons/github-icon.svg" alt="GitHub ícone">
        </a>
      </li>
      <li class="portfolio nav-item">
        <a href="https://www.henrique-fernandez.site" target="_blank">
          <img src="assets/icons/Logo.svg" alt="Henrique Fernandez - Developer website ícone">
        </a>
      </li>
    </ul>
    <a class="label-text github" href="https://github.com/RickFernandez" target="_blank">
      RickFernandez
      <img src="assets/icons/github-icon.svg" alt="GitHub ícone">
    </a>
  </nav>
</footer>
