<section class="scrollbar">
  <ol *ngIf="!onResponsive">
    <li><span>/**</span></li>
    <li>
      <span>*</span>
      <p>Sobre Mim:</p>
    </li>
    <li>
      <span>*</span>
    </li>
    <li>
      <span>*</span>
      <p>Me chamo Henrique Fernandez, mas pode me chamar de Rick =),</p>
    </li>
    <li>
      <span>*</span>
      <p>tenho 21 anos e sou um desenvolvedor Full-Stack a mais de 1 ano e meio.</p>
    </li>
    <li>
      <span>*</span>
      <p>Sou graduado em Sistemas para Internet pela FIAP.</p>
    </li>
    <li>
      <span>*</span>
    </li>
    <li>
      <span>*</span>
      <p>Atualmente trabalho desenvolvendo e realizando melhorias em sistemas Web e Mobile.</p>
    </li>
    <li>
      <span>*</span>
      <p>Além disso, faço atendimento ao cliente, trazendo suporte e soluções para eles.</p>
    </li>
    <li>
      <span>*</span>
      <p>Também já fui responsável pela criação do design e prototipação de projetos.</p>
    </li>
    <li>
      <span>*</span>
    </li>
    <li>
      <span>*</span>
      <p>Minhas principais técnologias são Angular para o front-end,</p>
    </li>
    <li>
      <span>*</span>
      <p>.Net e C# para o back-end, e Ionic Framework com Angular para projetos Mobile.</p>
    </li>
    <li>
      <span>*</span>
      <p>E no banco de dados, utilizo Redis e MongoDb. Mas já trabalhei com MySql.</p>
    </li>
    <li>
      <span>*/</span>
    </li>
  </ol>

  <p *ngIf="onResponsive">
    <strong>// Sobre Mim:</strong>
    <span>/**</span>
    Me chamo Henrique Fernandez, mas pode me chamar de Rick! =).
    <br>
    Tenho 21 anos. Sou desenvolvedor Full-Stack a mais de 1 ano e meio, e graduado em Sistemas para Internet pela FIAP.
    <br><br>
    Atualmente trabalho desenvolvendo e realizando melhorias em sistemas Web e Mobile.
    <br>
    Além do atendimento ao cliente, trazendo suporte e soluções para eles.
    <br>
    Também já fui responsável pela criação do design e prototipação de projetos.
    <br><br>
    Minhas principais técnologias são Angular para o front-end, .Net e C# para o back-end, e Ionic Framework com Angular para aplicações Mobile.
    <br>
    Para banco de dados utilizo Redis e MongoDb. Mas já trabalhei com MySql.
    <br><br>
    <span>*/</span>
  </p>
</section>
