<section class="scrollbar">
  <ol *ngIf="!onResponsive">
    <li><span>/**</span></li>
    <li>
      <span>*</span>
      <p>Sobre Mim:</p>
    </li>
    <li>
      <span>*</span>
      <p>Me chamo Henrique Fernandez, mas pode me chamar de Rick! =)</p>
    </li>
    <li>
      <span>*</span>
      <p>Tenho 20 anos,</p>
    </li>
    <li>
      <span>*</span>
      <p>sou graduado em Sistemas para Internet pela FIAP,</p>
    </li>
    <li>
      <span>*</span>
      <p>onde aprendi Desenvolvimento Web e Mobile Full-Stack.</p>
    </li>
    <li>
      <span>*</span>
    </li>
    <li>
      <span>*</span>
      <p>Tenho mais de 1 ano de experiência na área.</p>
    </li>
    <li>
      <span>*</span>
      <p>Trabalhei na Exadel Company, uma multinacional da área de FinTech</p>
    </li>
    <li>
      <span>*</span>
      <p>que fornece serviços gerenciados,</p>
    </li>
    <li>
      <span>*</span>
      <p>incluindo a construção, implementação e suporte de sistemas de mercados financeiros.</p>
    </li>
    <li>
      <span>*</span>
      <p>Através da mesma fui alocado em um projeto no banco BTG Pactual.</p>
    </li>
    <li>
      <span>*</span>
      <p>Neste período atuei com sistemas atuais e legados,</p>
    </li>
    <li>
      <span>*</span>
      <p>realizando melhorias e refatorações.</p>
    </li>
    <li>
      <span>*</span>
      <p>E no desenvolvimento de novos projetos,</p>
    </li>
    <li>
      <span>*</span>
      <p>atuando desde a prototipação de sua interface,</p>
    </li>
    <li>
      <span>*</span>
      <p>até o desenvolvimento do projeto em si</p>
    </li>
    <li>
      <span>*</span>
    </li>
    <li>
      <span>*</span>
      <p>No momento atuo como Desenvolvedor Web/ Full-Stack freelancer.</p>
    </li>
    <li>
      <span>*/</span>
    </li>
  </ol>

  <p *ngIf="onResponsive">
    <strong>// Sobre Mim:</strong>
    <span>/**</span>
    Me chamo Henrique Fernandez, mas pode me chamar de Rick! =)
    <br>
    Tenho 20 anos. Sou graduado em Sistemas para Internet pela FIAP, onde estudei Desenvolvimento Web e Mobile Full-Stack.
    <br><br>
    Mais de 1 ano de experiência na área onde trabalhei na Exadel Company, uma multinacional da área de FinTech que fornece serviços gerenciados, incluindo a construção, implementação e suporte de sistemas para o mercado financeiro.
    <br>
    Através da mesma fui alocado em um projeto dentro do banco BTG Pactual, um dos clientes da empresa.
    <br>
    Neste período atuei com sistemas atuais e legados, realizando melhorias e refatorações. Além disso, participei do desenvolvimento de novos projetos, atuando desde a prototipação de sua interface, até o desenvolvimento do projeto em si (tanto o front-end quando o back-end).
    <br><br>
    No momento estou atuando como Desenvolvedor Web/ Full-Stack freelancer.
    <span>*/</span>
  </p>
</section>
