<section class="scrollbar">
  <div class="certifieds-fiap">
    <h2>// Certificados FIAP</h2>
    <app-certified-card
      certifieldName="Desenvolvimento de Apps Mobile Android e iOS (Cód Certificado: F13E9845)"
      certifieldSrc="../../../../assets/images/certificates/fiap/Certificado de Qualificação Profissional em Desenvolvimento de Apps Mobile Android e iOS.jpeg"
      certifieldUrl="https://www.fiap.com.br/consultadocumento"
    ></app-certified-card>
    <app-certified-card
      certifieldName="Desenvolvimento de Portais Corporativos (Cód Certificado: 6BF8FB25)"
      certifieldSrc="../../../../assets/images/certificates/fiap/Certificado de Qualificação Profissional em Desenvolvimento de Portais Corporativos.jpeg"
      certifieldUrl="https://www.fiap.com.br/consultadocumento"
    ></app-certified-card>
    <app-certified-card
      certifieldName="Domain Driven Design (Java), Cloud Computing (Cód Certificado: C572B13A)"
      certifieldSrc="../../../../assets/images/certificates/fiap/Certificado de qualificação profissional em Domain Driven Design (Java), Cloud Computing.jpeg"
      certifieldUrl="https://www.fiap.com.br/consultadocumento"
    ></app-certified-card>
    <app-certified-card
      certifieldName="Responsive Web - Front End e User Experience (Cód Certificado: 643A9802)"
      certifieldSrc="../../../../assets/images/certificates/fiap/Certificado de qualificação profissional em Responsive Web - Front End e User Experience.jpg"
      certifieldUrl="https://www.fiap.com.br/consultadocumento"
    ></app-certified-card>
    <app-certified-card
      certifieldName="Java Advanced Frameworks"
      certifieldSrc="../../../../assets/images/certificates/fiap/Nano Couse - Java Advanced Frameworks.png"
      certifieldUrl="https://on.fiap.com.br/local/nanocourses/validar-certificado/?chave=7769b401c8eb83c0424265b426dcecda"
    ></app-certified-card>
  </div>
  <div class="certifields-alura">
    <h2>// Certificados Alura</h2>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Formação HTML e CSS.png"
      certifieldName="Formação em HTML e CSS"
      certifieldUrl="https://cursos.alura.com.br/degree/certificate/84d673d5-b495-47df-bca5-5995d68eee21"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Formação Aplicações web acessíveis.png"
      certifieldName="Formação em Aplicações web acessíveis"
      certifieldUrl="https://cursos.alura.com.br/degree/certificate/f3bfd1da-e569-4220-8e78-f243fa2264ca"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Formação Framework Angular.png"
      certifieldName="Formação em Framework Angular"
      certifieldUrl="https://cursos.alura.com.br/degree/certificate/88211b08-d051-4ac8-aaee-3b472842f82c"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Formação Java e Spring Boot.png"
      certifieldName="Formação em Java e Spring Boot"
      certifieldUrl="https://cursos.alura.com.br/degree/certificate/fa2f4837-660b-4be4-a749-9f4754a9c4d6"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Layouts Responsivos.png"
      certifieldName="Layouts Responsivos"
      certifieldUrl="https://cursos.alura.com.br/certificate/1801d72c-7ab0-4b3a-955b-7e0ee775936b"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Java JRE e JDK.png"
      certifieldName="Java JRE e JDK"
      certifieldUrl="https://cursos.alura.com.br/certificate/3ac3a1e7-a65d-4ce4-b55e-55c6470e451d"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Java OO - Entendendo Orientação a Objetos.png"
      certifieldName="Java OO - Entendendo Orientação a Objetos"
      certifieldUrl="https://cursos.alura.com.br/certificate/12bf7af8-7f6b-4007-8138-ee2a63f4cc0c"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/SOLID com CSharp.png"
      certifieldName="SOLID com C#"
      certifieldUrl="https://cursos.alura.com.br/certificate/570bb2e6-ea73-4073-9282-b45f1d73ab23"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/SQL com MySQL - Manipule e Consulte dados.png"
      certifieldName="SQL com MySQL - Manipule e Consulte dados"
      certifieldUrl="https://cursos.alura.com.br/certificate/96170cfa-99a7-4ca4-82da-9cad19996dc0"
    ></app-certified-card>
    <app-certified-card
      certifieldSrc="../../../../assets/images/certificates/alura/Wordpress - Sites com Elementor.png"
      certifieldName="Wordpress - Sites com Elementor"
      certifieldUrl="https://cursos.alura.com.br/certificate/c8aede49-45a3-4756-8c51-3796fca06b22"
    ></app-certified-card>
  </div>
  <div class="certifields-udemy">
    <h2>// Certificados Udemy</h2>
    <app-certified-card
      certifieldName="JavaScript Completo"
      certifieldSrc="../../../../assets/images/certificates/udemy/JavaScript - Curso completo com 6 projetos reais.jpg"
      certifieldUrl="https://udemy-certificate.s3.amazonaws.com/image/UC-5480ff7e-1f24-480b-aa17-44ba14b59ae3.jpg"
    ></app-certified-card>
  </div>
</section>
