@import '../../../shared/styles/variables.scss';

header {
  height: 4rem;
  display: flex;
  align-items: center;
  color: $secondary-gray;
  border-bottom: 1px solid $line-color;

  h2 {
    width: 25%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        height: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        border-left: 1px solid $line-color;
        border-right: 1px solid $line-color;
        transition: all .2s;
      }
    }

    a.contact {
      color: $secondary-gray;
      height: 100%;
      display: flex;
      align-items: center;
      padding-inline: 2rem;
      border-left: 1px solid $line-color;
      transition: all .2s;
      text-decoration: none;
    }

    li:hover,
    li.active,
    a.contact:hover,
    a.contact.active  {
      cursor: pointer;
      color: $secondary-white;
      border-bottom: 3px solid $accent-orange;
    }
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header {
    h2 {
      width: 30%;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    h2,
    nav.desktop-menu-list {
      display: none;
    }

    div.mobile-menu {
      width: 100%;
      height: 100%;
      padding-inline: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        display: flex;
        padding: 0;
      }

      button {
        width: 30px;
        height: 30px;
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;

        img {
          width: 100%;
          height: 100%;
        }
      }

      button:hover {
        cursor: pointer;
      }

      nav.responsive-menu-list {
        position: absolute;
        z-index: 99;
        top: 4rem;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 4rem);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $primary-blue;

        ul {
          width: 100%;
          display: flex;
          flex-direction: column;

          li {
            width: 100%;
            max-height: 70px;
            padding: 0;
            border-inline: none;
            border-bottom: 1px solid $line-color;

            a {
              width: auto;
              padding: 2rem;
            }
          }
        }

        li:hover,
        li.active,
        a.contact:hover,
        a.contact.active  {
          border: none;
        }

        .footer {
          width: 100%;
        }
      }
    }
  }
}
