<aside>
  <div class="menu-container" *ngIf="sideType && sideType == '/about-me'">
    <div class="second-menu">
      <nav>
        <div class="personal-infos" (click)="onPersonalMenu()">
          <img
            src="{{
              personalMenu
                ? '../../../assets/icons/arrow_down-icon.svg'
                : '../../../assets/icons/arrow_right-icon.svg'
            }}"
            alt=""
          />
          <h4 class="label-text">informacoes-pessoais</h4>
        </div>
        <ul class="personal-info-menu" *ngIf="personalMenu">
          <li routerLink="/about-me/bio" routerLinkActive="active">
            <img src="../../../assets/icons/sub-menu-arrow.svg" alt="" />
            <img src="../../../assets/icons/folder-orange-icon.svg" alt="" />
            <a class="label-text">bio</a>
          </li>
          <li routerLink="/about-me/skills" routerLinkActive="active">
            <img src="../../../assets/icons/sub-menu-arrow.svg" alt="" />
            <img src="../../../assets/icons/folder-salmon-icon.svg" alt="" />
            <a class="label-text">skills</a>
          </li>
          <li routerLink="/about-me/experiences" routerLinkActive="active">
            <img src="../../../assets/icons/sub-menu-arrow.svg" alt="" />
            <img src="../../../assets/icons/folder-green-icon.svg" alt="" />
            <a class="label-text">experiencias</a>
          </li>
          <li routerLink="/about-me/certifieds" routerLinkActive="active">
            <img src="../../../assets/icons/sub-menu-arrow.svg" alt="" />
            <img src="../../../assets/icons/folder-blue-icon.svg" alt="" />
            <a class="label-text">certificados</a>
          </li>
        </ul>
        <div class="contact-infos" (click)="onContactMenu()">
          <img
            src="{{
              contactMenu
                ? '../../../assets/icons/arrow_down-icon.svg'
                : '../../../assets/icons/arrow_right-icon.svg'
            }}"
            alt=""
          />
          <h4>contatos</h4>
        </div>
        <ul class="contact-menu" *ngIf="contactMenu">
          <li>
            <img src="../../../assets/icons/mail-iconemail-icon.svg" alt="" />
            <a href="mailto:rickfernandez03@gmail.com" class="label-text"
              >rickfernandez03@gmail.com</a
            >
          </li>
          <li>
            <img src="../../../assets/icons/whatsapp-icon.svg" alt="" />
            <a href="https://wa.me/5511964249643?text=Ol%C3%A1%21+Vim+atrav%C3%A9s+do+seu+portif%C3%B3lio.+%F0%9F%91%8B%F0%9F%98%81" class="label-text" target="_blank">+55 (11)96424-9643</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="menu-projects" *ngIf="sideType && sideType == '/projects'">
    <div class="menu-title" (click)="onProjectMenu()">
      <img
        src="{{
          projectMenu
            ? '../../../assets/icons/arrow_down-icon.svg'
            : '../../../assets/icons/arrow_right-icon.svg'
        }}"
        alt=""
      />
      <h4>Filtrar projetos</h4>
    </div>
    <div *ngIf="projectMenu" class="technology-container">
      <div *ngFor="let option of filterOptions" class="radio-label">
        <input
          type="radio"
          [ngModel]="option.selected"
          (ngModelChange)="updateFilter(option)"
          [name]="option.value"
          id="{{ option.value }}"
        />
        <img [src]="option.image" [alt]="option.label + 'ícone'" />
        <label [ngClass]="{ selected: option.selected }" [for]="option.value">
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>
  <div class="menu-contact" *ngIf="sideType && sideType == '/contact'">
    <nav>
      <div class="contact-infos" (click)="onContactMenu()">
        <img
          src="{{
            contactMenu
              ? '../../../assets/icons/arrow_down-icon.svg'
              : '../../../assets/icons/arrow_right-icon.svg'
          }}"
          alt=""
        />
        <h4>contatos</h4>
      </div>
      <ul class="contact-menu" *ngIf="contactMenu">
        <li>
          <img src="../../../assets/icons/mail-iconemail-icon.svg" alt="" />
          <a href="mailto:rickfernandez03@gmail.com" class="label-text"
            >rickfernandez03@gmail.com</a
          >
        </li>
        <li>
          <img src="../../../assets/icons/whatsapp-icon.svg" alt="" />
          <a href="https://wa.me/5511964249643?text=Ol%C3%A1%21+Vim+atrav%C3%A9s+do+seu+portif%C3%B3lio.+%F0%9F%91%8B%F0%9F%98%81" class="label-text" target="_blank">+55 (11)96424-9643</a>
        </li>
      </ul>
      <div class="social-medias-info" (click)="onSocialMediasMenu()">
        <img
          src="{{
            contactMenu
              ? '../../../assets/icons/arrow_down-icon.svg'
              : '../../../assets/icons/arrow_right-icon.svg'
          }}"
          alt=""
        />
        <h4>veja-tambem</h4>
      </div>
      <ul class="contact-menu" *ngIf="socialMediasMenu">
        <li>
          <img src="../../../assets/icons/instagram-icon.svg" />
          <a
            href="https://www.instagram.com/coding.rick/?theme=dark"
            class="label-text"
            target="_blank"
            >@coding.rick</a
          >
        </li>
        <li>
          <img src="../../../assets/icons/linkedin-icon.svg" />
          <a
            href="https://www.linkedin.com/in/henrique-fernandez-bb3751212/"
            class="label-text"
            target="_blank"
            >LinkedIn: Henrique Fernandez</a
          >
        </li>
        <li>
          <img src="../../../assets/icons/globe-icon.svg" />
          <a
            href="http://www.henrique-fernandez.site"
            class="label-text"
            target="_blank"
            >Portifólio profissional</a
          >
        </li>
      </ul>
    </nav>
  </div>
</aside>
