@import "../../../../shared/styles/variables.scss";

a {
  max-width: 200px;
  margin-block: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.5s;

  span {
    font-size: 14px;
    text-wrap: wrap;
    color: $secondary-gray;
  }

  img {
    height: 150px;
  }
}

a:hover > span {
  color: $secondary-white;
}
