@import '../../styles/variables.scss';

div.container {
  border-radius: 1rem;
  background: $primary-blue;
  border: 1px solid $line-color;

  position: fixed;
  top: 6%;
  left: 3%;
  right: 3%;
  bottom: 6%;

  main {
    position: relative;
    width: 100%;
    height: calc(100% - 8rem);
  }
}

@media screen and (max-width: 768px) {
  app-footer {
    display: none;
  }

  div.container {
    main {
      height: calc(100% - 4rem);
    }
  }
}
