<section class="scrollbar">
  <div class="experience">
    <div class="inline company">
      <h2>Empresa:</h2>
      <span>1UP Technology - </span>
      <a href="https://www.1uptech.com.br/" target="_blank">1uptech.com</a>
    </div>
    <div class="inline time">
      <h2>Tempo:</h2>
      <span>02.2024 - o momento (7 meses)</span>
    </div>
    <div class="inline office">
      <h2>Cargo:</h2>
      <span>Desenvolvedor de Software</span>
    </div>
    <div class="activities">
      <h2>Atividades:</h2>
      <div class="activities">
        <p>
          • Desenvolvi e implementei novas funcionalidades nas plataformas web e mobile,
          resultando em uma melhora na usabilidade e eficiência; <br />
          • Proporcionei atendimento e suporte ao cliente através de tickets, resolvendo
          problemas com uma alta taxa de satisfação e reduzindo o tempo de resposta; <br />
          • Utilizei conceitos de SaaS com aplicações Multi-Tenant, otimizando a gestão de
          recursos e a escalabilidade dos sistemas, melhorando a eficiência operacional;<br />
          • Criei e mantive Class Libraries reutilizáveis para projetos da empresa, padronizando
          processos e acelerando o desenvolvimento de software;
        </p>
      </div>
    </div>
  </div>

  <div class="experience">
    <div class="inline company">
      <h2>Empresa:</h2>
      <span>Exadel - </span>
      <a href="http://www.exadel.com" target="_blank">exadel.com</a>
    </div>
    <div class="inline time">
      <h2>Tempo:</h2>
      <span>1 ano</span>
    </div>
    <div class="inline office">
      <h2>Cargo:</h2>
      <span>Estágio</span>
    </div>
    <div class="resume">
      <h2>Resumo:</h2>
      <p>
        A Exadel é uma empresa de consultoria na área de FinTech.
        <br />
        Atuei durante 8 meses no projeto interno da empresa, e após este período
        fui alocado em um projeto do banco BTG Pactual.
        <br />
        Nos dois projetos tinha atuação como desenvolvedor Full-Stack. Minhas
        principais demandas eram:
      </p>
    </div>
    <div class="activities">
      <h2>Atividades:</h2>
      <div class="activities-exadel">
        <span>Exadel:</span>
        <p>
          • Melhorias na plataforma interna da empresa;<br />
          • Refatoração da plataforma interna, sendo desenvolvida uma nova a
          partir do zero, com novas técnologias;<br />
          • Desenvolvimento de um novo projeto KPI para os líderes da empresa.
          Que tinha como objetivo dar uma visão mais abrangente da situação de
          cada setor da empresa;<br />
          • Criação de design e protótipo dos novos projetos desenvolvidos,
          utilizando as boas e melhores práticas de UI/UX e acessibilidade;
        </p>
      </div>
      <div class="activities-btg">
        <span>BTG Pactual:</span>
        <p>
          • Priorizar a sustençao dos processos do banco;<br />
          • Melhorias na plataforma interna do banco;<br />
          • Trabalho feito em squad, utilizando a Metodologia Ágil e SCRUM no
          dia a dia, e a ferramenta Azure DevOps para organização das
          entregas;<br />
          • Utilização da ferramenta Jira para organização das entregas e
          suporte a outras áreas do banco feito através de chamados de
          solicitações;
        </p>
      </div>
    </div>
  </div>
</section>