<section class="scrollbar">
  <h3>//Minhas skills:</h3>

  <div class="skills">
    <div class="skill-container">
      <h4>//Front-End</h4>
      <ul>
        <li><app-skill-card skillName="HTML" imgSrc="assets/icons/html-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="CSS" imgSrc="assets/icons/css-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="SASS SCSS" imgSrc="assets/icons/sass-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Javascript" imgSrc="assets/icons/javascript-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Typescript" imgSrc="assets/icons/typescript-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Angular" imgSrc="assets/icons/angular-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Bootstrap" imgSrc="assets/icons/bootstrap-icon.svg"></app-skill-card></li>
      </ul>
    </div>

    <div class="skill-container">
      <h4>//Back-End e Banco de Dados</h4>
      <ul>
        <li><app-skill-card skillName="Dotnet" imgSrc="assets/icons/dotnet-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="CSharp" imgSrc="assets/icons/csharp-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Java" imgSrc="assets/icons/java-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="MySQL" imgSrc="assets/icons/my_sql-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="SQL Server" imgSrc="assets/icons/sql_server-icon.svg"></app-skill-card></li>
      </ul>
    </div>

    <div class="skill-container">
      <h4>//Outras</h4>
      <ul>
        <li><app-skill-card skillName="Git" imgSrc="assets/icons/git-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Github" imgSrc="assets/icons/github-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Figma" imgSrc="assets/icons/figma-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Responsivo" imgSrc="assets/icons/responsivity-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Wordpress" imgSrc="assets/icons/wordpress-icon.svg"></app-skill-card></li>
        <li><app-skill-card skillName="Elementor" imgSrc="assets/icons/elementor-icon.svg"></app-skill-card></li>
      </ul>
    </div>
  </div>
</section>
