<section class="section">
  <div class="text-content">
    <div class="text-title">
      <p class="body-text">Olá! Eu sou o</p>
      <h1 class="headline-text">Henrique Fernandez</h1>
      <p class="subheadline-text">> desenvolvedor Full Stack</p>
    </div>
    <div class="text-codes">
      <p class="label-text comment">// Complete o jogo para continuar</p>
      <p class="label-text comment">// Você também pode ver na minha página do Github</p>
      <a class="label-text github" href="https://github.com/RickFernandez" target="_blank">
        <span>const </span>
        <span>githubLink </span>
        <span>= </span>
        <span> "https://github.com/RickFernandez"</span>
      </a>
    </div>
  </div>
  <div class="game">

  </div>
</section>
